@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="page-header">Resto</h1>
    <div class="row">
        <div class="col-md-4">
            <h2><a class="panel-heading" href="../owner/list">Owners</a></h2>
            <img src="https://images.unsplash.com/photo-1581299894007-aaa50297cf16?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hlZnxlbnwwfHwwfA%3D%3D&amp;ixlib=rb-1.2.1&amp;w=1000&amp;q=80" class="img-thumbnail img-responsive" alt="man in black nike jacket wearing white cap" />
            <p></p>
        </div>
        <div class="col-md-4">
            <h2><a class="panel-heading" href="../restaurant/list">Restaurants</a></h2>
            <img src="https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" class="img-thumbnail img-responsive" alt="group of people inside the restaurant" />
            <p></p>
        </div>
        <div class="col-md-4">
            <h2><a class="panel-heading" href="../fooditem/list">Food</a></h2>
            <img src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" class="img-thumbnail img-responsive" alt="cooked food" />
            
        </div>
    </div>
</div>