@model IEnumerable<RestoWebApp.Models.RestaurantDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="FoodItemName" class="control-label col-md-2">Food Item Name</label>
            <div class="col-md-10">
                <input type="text" name="FoodItemName" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <label for="FoodItemDesc" class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <input type="text" name="FoodItemDesc" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <label for="FoodItemPrice" class="control-label col-md-2">Food Item Price</label>
            <div class="col-md-10">
                <input type="text" name="FoodItemPrice" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <label for="RestaurantID" class="control-label col-md-2">Restaurant</label>
            <div class="col-md-10">
                <select name="RestaurantID" class="form-control">
                    @foreach (var Restaurant in Model)
                    {
                        <option value="@Restaurant.RestaurantID">@Restaurant.RestaurantName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create new item" class="btn btn-default"/>
            </div>
        </div>
    </div>

</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
